// Hero
//––––––––––––––––––––––––––––––––––––––––––––––––––
.hero {
  background-color: $hero-bg-color;
  // background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('https://dl.dropboxusercontent.com/u/60183450/featured01.jpg');
  // background-image: url(https://dl.dropboxusercontent.com/u/60183450/featured01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: ($navbar-height + 10rem) 0 10rem;
  // padding: 4rem 0;

  @include tablet {
    padding: ($navbar-height + 18rem) 0 18rem;
    // padding: 8rem 0;
  }

  h1, h2 {
    margin: 0;
    color: #fff;
  }

  p {
    margin: .5rem 0 0;
    color: #fff;
  }
}

.about-img {
  @include aspectRatio(4,3);
  background-color: $hero-bg-color;
  // background-image: url(https://dl.dropboxusercontent.com/u/60183450/featured01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 2em;
}
