// navbar
//––––––––––––––––––––––––––––––––––––––––––––––––––
.navbar {  
  box-sizing: border-box;
  padding: 0;
  display: block;
  // position: relative;
  z-index: 100;
  width: 100%;
  // height: $navbar-height;
  // background: transparent;
  background: $navbar-color;
  // border-top: 1px solid $navbar-border;
  border-bottom: 1px solid $navbar-border;
  transition: $transistion_duration;

  position: fixed;
  top: 0;
  left: 0; 

  // @include laptop {
  //   border-bottom: 1px solid $navbar-border;
  // }

  // transition: $transistion_duration;

  // &.nav-scrolled {
  //   background: $navbar-color;
  //   border-color: $navbar-border;
  //   // @include dropShadow;
  // }

}

// .has-scrolled-nav {
//   .navbar {
//     background-color: red;
//   }
//   .navbar-inner {

//   }
//   .navbar-menu {

//   }
//   .navbar-item {
//     .navbar-link {

//     }
//   }
// }

.navbar-inner {
  // height: $navbar-height;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @include mobile {
    max-width: $container-width-mobile;
    margin: 0 auto;
    // padding: 0;
  }

  @include phablet {
    max-width: $container-width-phablet;
  }

  @include tablet {
    max-width: 960px;
  }
}

.navbar-menu {
  // background: $navbar-color;
  // border-bottom: 1px solid $navbar-border;
  box-sizing: border-box;
  margin-top: -1px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 0; 
  left: 0;
  // top: $navbar-height;
  // top: calc($navbar-height - 1px);
  transition: max-height $transistion_duration ease-out;
  // padding: 0 20px;
  padding: 0;
  overflow: hidden;
  max-height: 0;

  &.active-menu {
    max-height: 32em;
  }

  @include mobile {
    padding: 0;
  }

  @include laptop {
    background: transparent;
    // border: none;
    top: auto;
    left: auto;
    position: relative;
    display: inline-block;
    width: auto;
    float: right;
    max-height: none;
  }
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; 
  list-style: none;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  float: none;
  border-top: 1px solid $navbar-border;

  // @include mobile {
  //   width: $container-width-mobile;
  //   padding: 0;
  // }

  // @include phablet {
  //   width: $container-width-phablet;
  // }

  @include laptop {
    display: inline-block;
    margin: 0;
    width: auto;
    border: none;

    & + li {
      margin-left: 1em;
    }
  }
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin: 0;
  text-decoration: none;
  line-height: $navbar-height;
  color: $navbar-font-color; 

  &:hover,
  &:focus,
  &.active {
    color: lighten($navbar-font-color, 15%); 
  }
}

.title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin: 0;
  line-height: $navbar-height;
  color: $navbar-font-color; 

  a {
    color: $navbar-font-color;
    text-decoration: none;
    text-decoration: none;
  }
}



// navbar-toggle
//––––––––––––––––––––––––––––––––––––––––––––––––––
.navbar-toggle {
  display: block;
  z-index: 9000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: ($navbar-height / 2);
  height: $navbar-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  float: right;
  position: relative;

  @include laptop {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  /* active state, i.e. menu open */
  &.is-active {
    background-color: transparent;
  }

  &.is-active span {
    background-color: lighten($navbar-font-color, 15%);
    transform: rotate(-225deg);
  }

  &.is-active span::before {
    background-color: lighten($navbar-font-color, 15%);
    top: 0;
    transform: rotate(90deg);
  }

  &.is-active span::after {
    background-color: transparent;
    bottom: 0;
    transform: rotate(-0deg);
  }

  &.is-active span::before,
  &.is-active span::after {
    transition: $transistion_duration;
    // transition-delay: $transistion_duration;
  }

  span {
    display: block;
    position: absolute;
    top: ($navbar-height / 2) - ($navbar-toggle-bar / 2);
    left: $navbar-toggle-pad;
    right: $navbar-toggle-pad;
    height: $navbar-toggle-bar;
    background-color: $navbar-font-color;
    transition-duration: $transistion_duration;
    // transition-delay: $transistion_duration;

    &::before, 
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $navbar-toggle-bar;
      background-color: $navbar-font-color;
      content: "";
      transition-duration: $transistion_duration;
      // transition-delay: $transistion_duration;
    }
    
    &::before {
      top: -$navbar-toggle-bar - $navbar-toggle-bar_space;
      transition-property: top, transform;
    }

    &::after {
      bottom: -$navbar-toggle-bar - $navbar-toggle-bar_space;
      transition-property: bottom, transform;
    }
  }
}



// // Scrollup
// //––––––––––––––––––––––––––––––––––––––––––––––––––
// .scrollup {
//   display: none;
//   position: fixed;
//   bottom: ($navbar-height / 8);
//   right: ($navbar-height / 8);
//   border: 1px solid $trans-white;
//   padding: .4em .8em;
//   border-radius: 100px;
//   text-decoration: none;
//   font-size: 1em;
//   line-height: ($navbar-height / 2);
//   background-color: $navbar-color;
//   transition: background-color $transistion_duration;
//   color: #fff;

//   &:hover,
//   &:focus,
//   &:active {
//     color: #fff;
//     border-color: $trans-white;
//     background-color: lighten($navbar-color, 7%);
//   }
// }




// Scrollup
//––––––––––––––––––––––––––––––––––––––––––––––––––
a.scrollup {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: $navbar-color;
  border: 1px solid #fff;
  transition: background-color $transistion_duration;
  color: #fff;
  // padding: .4em .8em;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  font-size: 1em;
  // line-height: 2em;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: darken($navbar-color, 15%);
  }
}

.chevron::before {
  border-style: solid;
  content: '';
  display: block;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  border-width: $navbar-toggle-bar $navbar-toggle-bar 0 0;
  top: $navbar-toggle-bar / 2;
  height: $navbar-toggle-bar_space * 1.2;
  width: $navbar-toggle-bar_space * 1.2;
  margin: $navbar-toggle-bar_space * 2;
}




