// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Responsive breakpoints for mixins found in _functions.scss
$width_mobile: 480px;
$width_phablet: 640px;
$width_tablet: 800px;
$width_laptop: 1000px;
$width_desktop: 1200px;
$width_hdtv: 1600px;
$hidden_mobile: 639px;

// Brand colors 
$primary-color: #222 !default;
$secondary-color: lighten($primary-color, 10%) !default;

// Text colors
$font-color: #5a5a5a !default;
$link-color: $primary-color !default;

// Border colors 
$border-color: #bbb !default;

// Miscellaneous colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$trans-white: rgba(255,255,255,0.5);

// Social media colors
$color_facebook: #365397;
$color_twitter: #00a9f1;
$color_google_plus: #e0452c;
$color_linkedin: #006db3;
$color_skype: #12A5F4;
$color_sharethis: #01BF01;

// Colors
$navbar-color: #eee !default;
$navbar-border: #ddd !default;
$navbar-font-color: #333 !default;
$hero-bg-color: lighten($primary-color, 7%) !default;

// Typography
$font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font_face_main: 'Open Sans', sans-serif;
// $font_face_headings: 'Montserrat', sans-serif;
// $font_size_main: 16px;
// $font_weight_main: 300;
// $font_line_height_main: 1.5em;


//Grid Variables
$container-width: 960px !default;
$container-width-mobile: 85% !default;
$container-width-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100% / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2.0rem !default; // space between columns calculated in grid


// Misc
$global-radius: 4px !default;

// Navbar 
$navbar-height: 6.5rem !default;

// $navbar-toggle-width: ($navbar-height / 2);       // width of button area
// $navbar-toggle-height: $navbar-height;      // height of button area
$navbar-toggle-bar: .2rem;        // thickness of button bars
$navbar-toggle-pad: 0;       // left/right padding between button area and bars.
$navbar-toggle-bar_space: .5rem;     // spacing between button bars

$transistion_duration: .3s;


